<nav class="nav-groups" aria-label="Main navigation">
    <ul class="nav-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Home</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="diary">
                <span class="nav-icon bi-emoji-smile-fill-nav-menu" aria-hidden="true"></span>
                <span class="nav-text">Diary</span>
            </NavLink>
        </li>
    </ul>
</nav>

